NODE_ENV=development
PORT=3002
CORS_ORIGINS=http://localhost:4200
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=eclipse
DATABASE_USER=eclipse
DATABASE_PASSWORD=eclipse_dev
SESSION_TTL_DAYS=7
