<aside>
    <button
        type="button"
        class="small-logo"
        aria-label="Voltar para a página inicial"
        (click)="homeRequested.emit()"
    >
        <span class="bars" aria-hidden="true"><i></i><i></i><i></i><i></i><i></i></span>
        Eclipse
    </button>

    <div class="actions">
        <ion-button (click)="newChat.emit()" fill="clear">
            <ion-icon name="add" aria-hidden="true"></ion-icon>
            Novo Chat
        </ion-button>

        <label>
            <span class="visually-hidden">Procurar conversas</span>
            <ion-icon name="search" aria-hidden="true"></ion-icon>
            <input
                [ngModel]="filter"
                (ngModelChange)="filterChange.emit($event)"
                placeholder="Procurar"
            >
        </label>
    </div>

    <app-chat-list
        [chats]="chats"
        [filter]="filter"
        [selectedChatId]="selectedChatId"
        (chatSelected)="chatSelected.emit($event)"
        (chatDeleted)="chatDeleted.emit($event)"
        (chatRenamed)="chatRenamed.emit($event)"
    ></app-chat-list>
</aside>
